{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="text-gray-600 body-font">
  <section class="text-gray-600 body-font">
    <style>
      body {
          background-image: url('{% static "images/food/.png" %}');
          background-size: cover; /* Adjust this as needed */
          background-repeat: no-repeat;
          height: 100vh; /* Adjust this as needed */
          margin: 0; /* Remove default margin */
          padding: 0; /* Remove default padding */
      }

      /* Additional styles for other elements on your page */
  </style>
    <div class="container px-5 pt-4 mx-auto">
      <div class= "text-center mb-20">
        <h1 class="sm:text-4xl text-6xl font-medium title-font text-gray-900 mb-4">Loose Meals</h1>
        <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-white-500s">Showcasing and rating the best meals and late night food 🌎🍱🥩🌮🍔 
            ✉️- loosemeals@gmail.com
            San Diego •Los Angeles •San Francisco •New York •Seoul</p>
        <div class="flex mt-6 justify-center">
          <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
        </div>
      </div>

      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
        <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
          <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
              <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
          </div>
          <div class="flex-grow">
            <h2 class="text-white-900 text-lg title-font font-medium mb-3">Ratings</h2>
            <p class="leading-relaxed text-base">Ratings and reviews of the Loose Meals showcased on our platforms. Check out our top meals and let us know what you think!</p>
            <a href="/Web/ratings" class="mt-3 text-indigo-500 inline-flex items-center">Learn More
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
          <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
              <circle cx="6" cy="6" r="3"></circle>
              <circle cx="6" cy="18" r="3"></circle>
              <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
            </svg>
          </div>
          <div class="flex-grow">
            <h2 class="text-white-900 text-lg title-font font-medium mb-3">Partnership and Community</h2>
            <p class="leading-relaxed text-base">Send in videos of your own Loose Meals. Build a community with loose mealers around the world and review their meals.</p>
            <a href="https://www.instagram.com/loosemeals/" class="mt-3 text-indigo-500 inline-flex items-center">Learn More
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
          <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
          <div class="flex-grow">
            <h2 class="text-white-900 text-lg title-font font-medium mb-3">Contact and Inquiries</h2>
            <p class="leading-relaxed text-base">Reach out to Loose Meals for any inquiries. Submit inquiries through the contact form or directly through email: loosemeals@gmail.com </p>
            <a href="/Web/contact" class="mt-3 text-indigo-500 inline-flex items-center">Learn More
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>

      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="{% static 'images/food/springrolls.jpg' %}">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Kiin Thai San Diego</h2>
              <h1 class="title-font text-lg font-medium text-white-900 mb-3">Spring Rolls</h1>
              <p class="leading-relaxed">(9.4/10) - Fresh shrimp spring rolls with sweet and sour and peanut sauce to pair with.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="{% static 'images/food/spiderroll.jpg' %}">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Krave Sushi Los Angeles</h2>
              <h1 class="title-font text-lg font-medium text-white-900 mb-3">Halloween Roll</h1>
              <p class="leading-relaxed">(9.7/10) - High quality fish with fresh ingredients, showcasing beautiful flowers and caviar.</p>
            </div>
          </div>
        </div>
        <div class="lg:w-1/3 sm:w-1/2 p-4">
          <div class="flex relative">
            <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="{% static 'images/food/beefnoodles.jpg' %}">
            <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
              <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Dough Zone San Jose</h2>
              <h1 class="title-font text-lg font-medium text-white-600 mb-3">Beef Noodles</h1>
              <p class="leading-relaxed">(9.5/10) - Savory and beefy broth with fresh yummy noodles and large pieces of fatty beef.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



    <div class="container px-5 py-24 mx-auto" >

        <div class="flex flex-wrap -m-4">
          <div class="lg:w-1/3 sm:w-1/2 p-4">
            <div class="flex relative">
              <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="{% static 'images/food/santacruz.jpg' %}">
              <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Santa Cruz Boardwalk & Pier</h2>
                <h1 class="title-font text-lg font-medium text-white-900 mb-3">Pad Thai</h1>
                <p class="leading-relaxed">(9.2/10) - Fresh spring vegetables with a umami and savory pad thai. Tender chicken and light noodles.</p>
              </div>
            </div>
          </div>
          <div class="lg:w-1/3 sm:w-1/2 p-4">
            <div class="flex relative">
              <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="{% static 'images/food/shakeshack.jpg' %}">
              <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Shake Shack La Jolla</h2>
                <h1 class="title-font text-lg font-medium text-white-900 mb-3">Double Shack Burger</h1>
                <p class="leading-relaxed">(9.0/10) - High quality beef with fresh ingredients, shake shack hits the spot. UTC prime spot.</p>
              </div>
            </div>
          </div>
          <div class="lg:w-1/3 sm:w-1/2 p-4">
            <div class="flex relative">
              <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="{% static 'images/food/bento.jpg' %}">
              <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Sushi Kami San Diego</h2>
                <h1 class="title-font text-lg font-medium text-white-600 mb-3">Beef Bento Box</h1>
                <p class="leading-relaxed">(9.5/10) - Tender quality teriyaki beef with fresh tempura and sushi. Yummy asian salad as well.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-wrap -m-4">
          <div class="lg:w-1/3 sm:w-1/2 p-4">
            <div class="flex relative">
              <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="{% static 'images/food/michelinpizza.jpg' %}">
              <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Ambrogio15 Del Maar</h2>
                <h1 class="title-font text-lg font-medium text-white-900 mb-3">Cured Beef Pizza</h1>
                <p class="leading-relaxed">(9.4/10) - Michelin rated pizza in the Sky Deck Del Mar, crispy airy crust and exquisite cheese with tender beef.</p>
              </div>
            </div>
          </div>
          <div class="lg:w-1/3 sm:w-1/2 p-4">
            <div class="flex relative">
              <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="{% static 'images/food/panangchicken.jpg' %}">
              <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Kiin Thai Del Mar</h2>
                <h1 class="title-font text-lg font-medium text-white-900 mb-3">Chicken Panang Curry</h1>
                <p class="leading-relaxed">(9.2/10) - Spicy and fragrant curry with succulent chicken. Paired with floral thai jasmine tea. </p>
              </div>
            </div>
          </div>
          <div class="lg:w-1/3 sm:w-1/2 p-4">
            <div class="flex relative">
              <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="{% static 'images/food/lettucewraps.jpg' %}">
              <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
                <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">Santa Cruz Boardwalk & Pier</h2>
                <h1 class="title-font text-lg font-medium text-white-600 mb-3">Lettuce Wraps</h1>
                <p class="leading-relaxed">(9.0/10) - Asian lettuce wraps with a chicken filling. Savory tender meat and fresh crunchy lettuce</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



{% endblock %}